.collection a.collection-item {
    color: #000;
}

nav {
    background-color: rgb(255, 255, 255);
    color: #000;
}

a {
    color: #000 !important;
}

.main-frame {
    display: flex;
    width: 100%;
    height: calc(-64px + 100vh);
    padding: 1em;
    flex-flow: row wrap;
}

.main-frame>* {
    padding: 10px;
    flex: 1 100%;
}

.editor-frame {
    height: 75%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#code-selector {
    height: 100%;
}

#enonce {
    padding: 1em;
}

#code {
    height: calc(100% - 50px);
    padding: 1em;
}

.microworld-frame {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 75%;
}

#editor {
    position: relative;
    width: 100%;
    height: 100%;
}

.log-frame {
    height: 25%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
}

#log-textarea {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 1em;
    border: 0px;
    resize: none;
    overflow-y: scroll;
}

.error {
    color: red;
}

#microworld-output {
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 100%;
    height: 75%;
}

@media all and (min-width: 600px) {
    .editor-frame {
        flex: 1 0 0;
    }

    .microworld-frame {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .editor-frame {
        order: 1;
    }

    .microworld-frame {
        order: 2;
    }

    .log-frame {
        order: 3;
    }
}

#run-btn {
    color: white !important;
    background-color: green;
}

#stop-btn {
    color: white !important;
    background-color: red;
}

.tabs .tab a:focus {
    background-color: transparent !important;
}

.tabs .indicator {
    background-color: #000 !important;
}


/* Slider from https://codepen.io/noahblon/pen/OyajvN */

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 15%;
    width: 80%;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -200px 0 0 200px dodgerblue; /* 2 */
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px!important;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff!important;
    height: 40px!important;
    width: 20px!important;
    border: 3px solid #999!important;
    border-radius: 0 !important;
    box-shadow: -800px 0 0 800px dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff!important;
    border: 2px solid #999!important;
    height: 40px!important;
    width: 20px!important;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd!important;
    color: transparent!important;
    height: 40px!important;
    border: none!important;
}

::-ms-tooltip { 
    display: none;
}

input[type="range"] + .thumb {
    background-color: dodgerblue;
    position: relative;
    color: black;
    display: inline-block;
}

#microworld-control {
    display: flex;
    align-items: center;
}

.control-speed-container {
    width: 25%;
    flex-basis: 20%;
    margin-left: 2%; 
}

.control-speed-range {
  --ticksThickness: 2px;
  --ticksHeight: 20%;
  --ticksColor: silver;
  
  display: inline-block;
  background: silver;
  background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
  background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - 7px) var(--ticksHeight);
  background-position: 7px bottom;
  position: relative;
}

#control-speed {
    width: 100%;
}

.control-slider-container {
    width: 50%;
    flex-basis: 60%;
    flex-grow: 1;
    margin-right: 8%;
}

.control-slider-range {
    --ticksThickness: 2px;
    --ticksHeight: 20%;
    --ticksColor: silver;
    --step:1; 
    --min:1; 
    
    display: inline-block;
    width : 100%;
    background: silver;
    background: linear-gradient(to right, var(--ticksColor) var(--ticksThickness), transparent 1px) repeat-x;
    background-size: calc(100%/((var(--max) - var(--min)) / var(--step)) - 7px) var(--ticksHeight);
    background-position: 7px bottom;
    position: relative;
  }

#control-slider {
    width: 100%;
}

#control-play-pause{
    background-color: dodgerblue;
}